body {
    font-family: sans-serif;
    padding: 32px;
}

#palette {
    margin-top: 24px;
}

.color-card {
    border-radius: 8px;
    padding: 8px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    line-height: 1.2;
    font-size: 10; 
    text-shadow: 0 0 5px rgba(0,0,0,1);
}

.palette-grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: 120px;
    gap: 16px;
    margin-top: 24px;
}

